a:link{
	text-decoration: none;
}
.logo {
	margin-left: 10px;
	align: center;
}
body {
	font-family: sans-serif;
	background: #8AB0F2;
}
.form__header{
	text-align: center;
}
/*.error{
	font-size: 250%;
}*/
.header{
	font-size: 700%;
	text-align: center;
	margin-top: 100px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
.col-centered {
	padding-top: 15px;
    margin: 0 auto;
    float: none;
}
.appHeader {
	text-align: center;
}